/*-CSS-reset----------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------------------------------------------------------*/

body {
    padding: 50px;
    text-align: center;
}


.spinner-container {
    display: inline-block;
    width: 200px;
    height: 200px;
}
.spinner {
    display: inline-block;
}


.spinner-1 {
    border: 10px solid #EEE;
    border-radius: 50%;
    border-top-color: black;
    width: 100px;
    height: 100px;
    margin: 40px;
    animation: spinner-1 1s infinite linear;
}
@keyframes spinner-1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }	
}


.spinner-2 {
    border: 10px solid #EEE;
    border-radius: 50%;
    border-right-color: black;
    border-left-color: black;
    width: 100px;
    height: 100px;
    margin: 40px;
    animation: spinner-2 2s infinite ease;
}
@keyframes spinner-2 {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
