/*-CSS-reset----------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------------------------------------------------------------------------*/

.spinner-collection {
    width: 800px;
    margin: 0 auto;
}
@media (max-width: 800px) {
    .spinner-collection  {
        width: 600px;
    }
}
@media (max-width: 600px) {
    .spinner-collection  {
        width: 400px;
    }
}
@media (max-width: 400px) {
    .spinner-collection  {
        width: 200px;
    }
}
.spinner-container {
    width: 200px;
    height: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    /*box-sizing: border-box;
    border: 1px solid black;*/
}


.spinner {
    display: inline-block;
    box-sizing: border-box;
}


.spinner-1 {
    border: 10px solid #EEE;
    border-radius: 50%;
    border-top-color: black;
    width: 100px;
    height: 100px;
    animation: spinner-1 1s infinite linear;
}
@keyframes spinner-1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }	
}


.spinner-2 {
    border: 10px solid #EEE;
    border-radius: 50%;
    border-right-color: black;
    border-left-color: black;
    width: 100px;
    height: 100px;
    animation: spinner-2 2s infinite ease;
}
@keyframes spinner-2 {
    0, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}


.spinner-3 {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.spinner-3 > div {
    width: 5px;
    height: 5px;
    display: inline-block;
    position: relative;
    background-color: black;
    border-radius: 50%;
    animation: spinner-3 2.5s infinite ease-in-out;
}
.spinner-3 > div:nth-child(1) {
    animation-delay: 0s;
    left: -30%;
}
.spinner-3 > div:nth-child(2) {
    animation-delay: .25s;
    left: -10%;
}
.spinner-3 > div:nth-child(3) {
    animation-delay: .5s;
    left: 10%;
}
.spinner-3 > div:nth-child(4) {
    animation-delay: .75s;
    left: 30%;
}
@keyframes spinner-3 {
    0%, 50% {
        transform: scale(1);
    }
    25% {
        transform: scale(4);
    }
}


.spinner-4 {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.spinner-4 > div {
    width: 10px;
    display: inline-block;
    background-color: black;
    animation: spinner-4 1s infinite ease-in-out;
    margin: 0 5px;
}
.spinner-4 > div:nth-child(1) {
    animation-delay: -.45s;
}
.spinner-4 > div:nth-child(2) {
    animation-delay: -.3s;
}
.spinner-4 > div:nth-child(3) {
    animation-delay: -.15s;
}
.spinner-4 > div:nth-child(4) {
    animation-delay: 0s;
}
@keyframes spinner-4 {
    0%, 100% {
        height: 50px;
    }
    50% {
        height: 100px;
    }
}


.spinner-5 {
    width: 100px;
    height: 100px;
    position: relative;
}
.spinner-5 > div {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    border: 5px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    animation: spinner-5 2s infinite linear;
}
.spinner-5 > div:nth-child(odd) {
    animation-direction: normal;
}
.spinner-5 > div:nth-child(even) {
    animation-direction: reverse;
}
.spinner-5 > div:nth-child(1) {
    width: 100px;
    height: 100px;
    left: 0;
    top: 0;
    animation-delay: -.5s;
    animation-duration: 1.9s;
}
.spinner-5 > div:nth-child(2) {
    width: 80px;
    height: 80px;
    left: 10px;
    top: 10px;
    animation-delay: -.7s;
    animation-duration: 1.6s;
}
.spinner-5 > div:nth-child(3) {
    width: 60px;
    height: 60px;
    left: 20px;
    top: 20px;
    animation-delay: -1s;
    animation-duration: 1.3s;
}
.spinner-5 > div:nth-child(4) {
    width: 40px;
    height: 40px;
    left: 30px;
    top: 30px;
    animation-delay: -.5s;
    animation-duration: 1.1s;
}
@keyframes spinner-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }	
}


.spinner-6 {
    width: 50px;
    height: 50px;
}
.spinner-6 > div {
    width: 33%;
    height: 33%;
    float: left;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    animation: spinner-6 .8s infinite ease-in-out;
}
.spinner-6 > div:nth-child(1) { animation-delay: 0s; }
.spinner-6 > div:nth-child(2) { animation-delay: -.1s; }
.spinner-6 > div:nth-child(3) { animation-delay: -.2s; }
.spinner-6 > div:nth-child(4) { animation-delay: -.7s; }
.spinner-6 > div:nth-child(5) { animation: none; background-color: transparent; }
.spinner-6 > div:nth-child(6) { animation-delay: -.3s; }
.spinner-6 > div:nth-child(7) { animation-delay: -.6s; }
.spinner-6 > div:nth-child(8) { animation-delay: -.5s; }
.spinner-6 > div:nth-child(9) { animation-delay: -.4s; }
@keyframes spinner-6 {
    0%, 100% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(0.8);
        opacity: 1;
    }
}


.spinner-7 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0px 30px 0 -5px;
    background-color: black;
    animation: spinner-7 1.5s infinite linear;
}
.spinner-7::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: -21px;
    top: -21px;
    border: 1px solid black;
    border-radius: 50%;
}
@keyframes spinner-7 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.spinner-8 {
    width: 30px;
    height: 20px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
.spinner-8  > div {
    animation: spinner-8 1s infinite steps(10);
    display: inline-block;
    width: 10px;
}
.spinner-8  > div:nth-child(1) {
    animation-duration: 100s;
}
.spinner-8  > div:nth-child(2) {
    animation-duration: 10s;
}
.spinner-8  > div:nth-child(3) {
    animation-duration: 1s;
}
.spinner-8 > div::before {
    content: "0123456789";
    width: 10px;
    height: 20px;
    font-size: 20px;
    word-wrap: break-word;
    text-overflow: clip;
    position: absolute;
}
@keyframes spinner-8 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200px);
    }
}


.spinner-9 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: transparent;
    animation: spinner-9-rotate 1s infinite linear, spinner-9-shadow 1s infinite ease-out;
}
@keyframes spinner-9-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinner-9-shadow {
    0% {
        box-shadow: 0px 0px 0 5px, 0px 0px 0 5px, 0px 0px 0 5px, 0px 0px 0 5px;
    }
    50% {
        box-shadow: 0px 30px 0 5px, 30px 0px 0 5px, 0px -30px 0 5px, -30px 0px 0 5px;
    }
    100% {
        box-shadow: 0px 0px 0 5px, 0px 0px 0 5px, 0px 0px 0 5px, 0px 0px 0 5px;
    }
}


.spinner-10 {
    width: 80px;
    height: 30px;
    border: 2px solid black;
    overflow: hidden;
}
.spinner-10::before {
    content: "";
    background: repeating-linear-gradient(45deg, black, black 10px, white 10px, white 20px);
    position: relative;
    display: inline-block;
    width: 80px;
    animation: spinner-10 .5s infinite linear;
}
@keyframes spinner-10 {
    0% {
        height: 30px;
    }
    100% {
        height: 58px;
    }
}


.spinner-11 {
    width: 100px;
    height: 100px;
    border: 4px solid black;
    border-radius: 50%;
}
.spinner-11::before {
    content: "";
    display: inline-block;
    background-color: black;
    position: relative;
    width: 4px;
    height: 40px;
    transform-origin: 2px 38px;
    border-radius: 4px;
    left: 44px;
    top: 8px;
    animation: spinner-11 1s infinite linear;
}
.spinner-11::after {
    content: "";
    display: inline-block;
    background-color: black;
    position: relative;
    width: 4px;
    height: 30px;
    transform-origin: 2px 28px;
    border-radius: 4px;
    left: 40px;
    top: 8px;
    animation: spinner-11 12s infinite linear;
}
@keyframes spinner-11 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.spinner-12 {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.spinner-12 > div {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    background-color: black;
    border-radius: 50%;
    animation: spinner-12 2s infinite ease-in-out;
}
.spinner-12 > div:nth-child(1) {
    animation-delay: 0s;
    left: -15px;
}
.spinner-12 > div:nth-child(2) {
    animation-delay: -.1s;
    left: -5px;
}
.spinner-12 > div:nth-child(3) {
    animation-delay: -.2s;
    left: 5px;
}
.spinner-12 > div:nth-child(4) {
    animation-delay: -.3s;
    left: 15px;
}
@keyframes spinner-12 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    33% {
        transform: translateX(0px);
        opacity: 1;
    }
    67% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(100px);
        opacity: 0;
    }
}


.spinner-13 {
    width: 100px;
    height: 100px;
    position: relative;
}
.spinner-13::before {
    width: 10%;
    height: 10%;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    content: "";
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    animation: spinner-13 1s infinite cubic-bezier(0, 0.25, 0.75, 1);
}
.spinner-13::after {
    width: 10%;
    height: 10%;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    content: "";
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    animation: spinner-13 1s infinite cubic-bezier(0, 0.25, 0.75, 1);
    animation-delay: -.5s;
}
@keyframes spinner-13 {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(10);
    }
}


.spinner-14 {
    width: 75px;
    height: 75px;
    background-color: white;
    border-width: 20px;
    border-style: solid;
    animation: spinner-14 .8s infinite steps(4);
}
@keyframes spinner-14 {
    0% {
        border-top-color: #000;
        border-right-color: #CCC;
        border-bottom-color: #CCC;
        border-left-color: #CCC;
    }
    25% {
        border-top-color: #CCC;
        border-right-color: #000;
        border-bottom-color: #CCC;
        border-left-color: #CCC;
    }
    50% {
        border-top-color: #CCC;
        border-right-color: #CCC;
        border-bottom-color: #000;
        border-left-color: #CCC;
    }
    75% {
        border-top-color: #CCC;
        border-right-color: #CCC;
        border-bottom-color: #CCC;
        border-left-color: #000;
    }
    100% {
        border-top-color: #000;
        border-right-color: #CCC;
        border-bottom-color: #CCC;
        border-left-color: #CCC;
    }
}


.spinner-15 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px solid #EEE;
    box-sizing: border-box;
    position: relative;
}
.spinner-15::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 2px;
    top: 2px;
    transform-origin: 36px 36px;
    background-color: black;
    border-radius: 50%;
    animation: spinner-15 1.5s infinite linear;
}
@keyframes spinner-15 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
